<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Status do Login</title>
    </head>
<body>

    <h1>Status do seu Login</h1>

    <p>O usuário <strong> <%= usuario %></strong> tentou fazer o login.</p>
    
    <p>(A senha digitada foi: <%= senha %>)</p>
    
    <br>
    <a href="/CCP120/Projetos/project.html">Voltar para a página de Projetos</a>

</body>
</html>